:root{
    --cor-primaria: #404040;
    --cor-secundaria: #737373;
    --cor-terciaria: #A6A6A6;
    --cor-quartenaria: #BFBFBF;
    --cor-quintenaria: #D9D9D9;
    }

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--cor-primaria);
    color: var(--cor-quintenaria);
    text-align: center;
    margin: 96px 0;
}
form{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 48px 0 24px 0;
   
}
form input{
    background-color: var(--cor-quintenaria);
    line-height: 8px;
    padding: 8px 0px ;
    margin: 0px 4px;
    border-radius: 4px;
    border: 1px solid var(--cor-quintenaria);
}

form button{
    height: 35px;
    margin: 0px 4px;
    border-radius: 4px;
    border: 1px solid var(--cor-quintenaria);

}

.controleform label{
    padding: 0px 4px;
    display: flex;
    margin: 4px 0;
}

.controleform{
    display: flex;
    flex-direction:column;
}

h1{
    font-weight: bold;
    font-size: 24px;
    line-height: 2;
}

p{
    font-weight: bold;
    font-size: 16px;
}

#resultado{
    font-size: 18px;
    line-height: 1.5;

}